.nav-margin{
    margin-top: 20px;
    
}

.image-position{
   text-align: center;
}

.fixture-table{
    margin-top: 50px;
}

.table-content{
    text-align: center;
}

.nav-border-tab{
    
        border-radius: 0 !important;
        -moz-border-radius: 0 !important;
      
}

.title-header{
    text-align: center;
    
}

.footer{
    margin-top:10px;
    font-size: 16px;
}